<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>

    <!-- Store - For communictaion -->
    <script src="/store.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

</head>
<body class="fms -mode-default">

  <section class="fms-header" id="app-vue-header"></section> 

  <section class="fms-s-apps">
    <div class="fms-body">
      <div id="app-svelte"></div>
      <div id="app-react"></div>
      <div id="app-vue"></div> 
    </div>
  </section>



</body>
</html>

