//
// TYPOGRAPHY
// 

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-fms;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
  text-align: left;
  &.-mode-dark {
    color: $white;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-fms;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  padding: 24px 24px;
}

